<h4 class="mb-3">Mark Attendance</h4>

<form (ngSubmit)="markAttendance()">

<div class="mb-3">
<label class="form-label">Employee</label>
<select class="form-select"
[(ngModel)]="attendance.employee"
name="employee">

<option *ngFor="let emp of employees" [value]="emp.id">
  {{emp.full_name}} ({{emp.employee_id}})
</option>

</select>
</div>

<div class="mb-3">
<label class="form-label">Date</label>
<input type="date" class="form-control"
[(ngModel)]="attendance.date"
name="date">
</div>

<div class="mb-3">
<label class="form-label">Status</label>
<select class="form-select"
[(ngModel)]="attendance.status"
name="status">
<option value="Present">Present</option>
<option value="Absent">Absent</option>
</select>
</div>

<button class="btn btn-success">
Mark Attendance
</button>

</form>

<hr>

<h5>Attendance Records</h5>

<table class="table table-bordered">

<thead class="table-dark">
<tr>
<th>Employee</th>
<th>Date</th>
<th>Status</th>
</tr>
</thead>

<tbody>
<tr *ngFor="let r of records">
<td>{{ employees.find(e => e.id === r.employee)?.employee_id }}</td>
<td>{{r.date}}</td>
<td>{{r.status}}</td>
</tr>
</tbody>

</table>